<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivo Bootstrap versao 4.1-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Arquivo para icones Boxicons ultima versao-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Arquivo para icones FontAwesome ultima versao-->
    <link href="../../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/solid.css" rel="stylesheet">
    <!--Arquivo css local para configuracoes slidebar responsivo-->
    <link rel="stylesheet" href="../static/layout-slidebar.css" />
    <link rel="stylesheet" href="../static/main.css" />
    <!--Plugin para campo de pesquiza dentro do menu de seleçao-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />    
    <title>Orquestra Criarte Digital</title>
</head>
<body  id="body-pd">
<header class="header " id="header">    
        <div class="header_toggle">
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>   
        <div class="title-page ml-4 mr-auto ">
           <span class="text-secondary" style="font-size: 22px;">Acervo</span>
        </div>      
        <div >
            <ul class="nav">
                <li class="nav-item">                    
                    <div class="perfil-icon text-secondary" data-element="#id-perfil-menu-box">
                        <i class="bx bx-user nav_icon " style="font-size: 2.2rem"></i>
                        <i class='bx bx-chevron-down nav_icon'></i>   
                    </div>                                    
                </div> 
            </ul> 
        </div>
        
</header>
<aside class="l-navbar" id="nav-bar">
    <nav class="nav nav-slidebar">        
            <a href="" class="nav_logo">
                <i class="bx bx-layer nav_logo-icon" disabled></i>
                <span class="nav_logo-name">Orq. Criarte Digital</span>
            </a>
            <div class="nav_list mb-auto">
                <a href="/dashboard" class="nav_link " >
                    <i class='bx bx-tachometer nav_icon'></i>
                    <span class="nav-name">Dashboard</span>
                </a>
                <a href="/admin" class="nav_link " >
                    <i class='bx bxs-cog nav_icon'></i>
                    <span class="nav-name">Administração</span>
                </a>
                <a href="/alunos" class="nav_link " >
                    <i class='bx bxs-user-detail nav_icon'></i>
                    <span class="nav-name">Alunos</span>
                </a>
                <a href="/acervo" class="nav_link " >
                    <i class='bx bxs-playlist nav_icon' ></i>
                    <span class="nav-name">Acervo</span>
                </a> 
                <a href="" class="nav_link " style="color: gray; pointer-events: none;">
                    <i class='bx bx-dollar-circle nav_icon' disabled></i>
                    <span class="nav-name">Financeiro</span>
                </a>                               
            </div>
            <div class="d-flex " id="id-system-version" style="color: #ebebeb; display: none; position: absolute; bottom: 10px;">
                <small class="">Versão 1.1</small>
            </div>
    </nav>
</aside>



<!--Conteudo Principal de Cada Pagina-->
<div class="main mx-auto widht-page">
    <div class="wrapper wrapper-tab border p-4 rounded shadow bg-white" style="overflow-x: auto;">

        <!--Painel referente aos dados da Equipe da organização-->        
        <div class="container-fluid">
            <div class="row mt-1">
                <div class="text-muted">
                    <h5>Instrumentos</h5>
                </div>
                
                <div class="ml-auto mr-3">      
                    <a class="btn-add-instrumento toogle-hide" id="addInstrumentoBtn" href="#" data-element="#telaCadastroInstrumento"><i class="fa fa-2x fa-plus-circle text-info m-2" aria-hidden="true"></i></a>                   
                </div>
            </div>
            <div class="row mt-2">
                <button class="btn btn-info ml-auto btn-emp-instrumento" type="button" data-element="#telaEmprestimoInstrumento">Novo Empréstimo</button> 
            </div>
            <div class="row mt-2" id="tabela-instrumentos-geral">
                <table class="table table-hover">
                    <thead class="bg-gray">
                        <tr>
                            <th scope="col"><span class="mr-3 ">Cód.</span><a href="#" ><i class="fa fa-sm fa-sort text-muted" aria-hidden="true"></i></a></th>
                            <th scope="col"><span class="mr-3 ">Instrumento</span><a href="#" ><i class="fa fa-sm fa-sort text-muted" aria-hidden="true"></i></a></th>
                            <th scope="col"><span class="mr-3 ">Marca</span><a href="#"><i class="fa fa-sm fa-sort text-muted mr-0" aria-hidden="true"></i></a></th>
                            <th scope="col"><span class="mr-3 ">Data Aquisição</span><a href="#"><i class="fa fa-sm fa-sort text-muted" aria-hidden="true"></i></a></th>
                            <th scope="col"><span class="mr-3 ">Empréstimo</span><a href="#"><i class="fa fa-sm fa-sort text-muted" aria-hidden="true"></i></a></th>
                            <th scope="col"><span class="mr-3 ">Responsável</span><a href="#"><i class="fa fa-sm fa-sort text-muted" aria-hidden="true"></i></a></th>
                            <th scope="col"><span class="mr-3 ">Data Empr.</span><a href="#"><i class="fa fa-sm fa-sort text-muted" aria-hidden="true"></i></a></th>
                            <th scope="col"><span class="mr-3 ">Info</span><a href="#"><i class="fa fa-sm fa-sort text-muted" aria-hidden="true"></i></a></th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                            
                            <td>vlo01</td>
                            <td>Violão</td>                              
                            <td>Serenata</td>                             
                            <td>12/05/21</td>
                            <td ><i class="fa fa-check text-info" aria-hidden="true"></i></td> 
                            <td>Leide Nunes</td>
                            <td>12/05/22</td>                          
                            <td> 
                                <a href="#" class="open-info-aluno toogle-hide ml-auto" data-element="#dataInfoInstrumento"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                            </td>
                        </tr>
                        <tr>                            
                            <td>vln01</td>
                            <td>Violino</td>                               
                            <td>Serenata</td>              
                            <td>12/05/22</td> 
                            <td>-</td> 
                            <td>-</td>
                            <td>-</td>                           
                            <td> 
                                <a href="#" class="open-info-aluno toogle-hide ml-auto" data-element="#dataInfoInstrumento"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                            </td>
                        </tr> 
                        <tr>                            
                            <td>sxf01</td>
                            <td>Saxofone</td>                              
                            <td>Serenata</td>                               
                            <td>12/05/23</td>
                            <td><i class="fa fa-check text-info" aria-hidden="true"></i></td> 
                            <td>Caique Brito</td>
                            <td>12/05/22</td>                               
                            <td> 
                                <a href="#" class="open-info-instrumento toogle-hide ml-auto" data-element="#dataInfoInstrumento"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                            </td>
                        </tr>                                                                            
                    </tbody>
                </table>
            </div>                
        </div>
        
    </div>
</div>   



<!--Tabela com os dados do Instrumento selecionada-->
<div class="wrapper wrapper-dados-item wrapper-dados-instrumento border my-5 pr-4 pl-4  rounded shadow hidden hide-toggle-tab mx-auto widht-page" id="dataInfoInstrumento">
    <div class="container-fluid py-3 mb-2">
        <form >
            <div class="row">
                <div class="col-11 text-center mb-3">
                    <span class="h5 text-info font-weight-bold ">Cadastro de Instrumento</span>
                </div>
                <div class="col ml-auto">
                    <a href="#" class="mb-auto btn-add-instrumento toogle-hide ml-1" data-element="#telaCadastroInstrumento"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                    <label for="codigoInstrumento">Código</label>
                <input value="" type="text" class="form-control bg-white" id="codigoInstrumento" placeholder="codigo" disabled>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="nomeInstrumento">Nome do Instrumento</label>
                <input value="" type="text" class="form-control bg-white" id="nomeInstrumento" placeholder="instrumento" disabled>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="marcaInstrumento">Marca</label>
                <input value="" type="text" class="form-control bg-white" id="marcaInstrumento" placeholder="marca" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="dataAquisicao-e">Data Aquisição</label>
                    <input value="" id="dataAquisicao-e" type="text" class="form-control" placeholder="dd/mm/aaaa"/>
                </div>                                   
                <div class="form-group col-md-4">
                    <label for="estadoConserv-e">Estado de Conservação</label>
                <input value="" type="text" class="form-control" id="estadoConserv-e" placeholder="estado de conservação">
                </div>
                <div class="form-group col-md-4">
                    <label for="unidadeAcervo-e">Unidade do Instrumento</label>
                <input value="" type="text" class="form-control" id="unidadeAcervo-e" placeholder="unidade">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="turmaEquipe">Empréstimo Ativo</label>
                <table class="table table-bordered bg-white text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="row">Data Empréstimo</th>
                            <th scope="row">Responsável</th>
                            <th scope="row">Observações</th>
                            <th scope="row">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15/10/2021</td>
                            <td>Felipe de Paula</td>
                            <td>-</td>
                            <td>
                                <a href="#" class="mb-auto btn-emp-instrumento toogle-hide ml-1" data-element="#telaDevolucaoInstrumento"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <br>
            <div class="form-group">
                <label for="turmaEquipe">Histórico de Empréstimos</label>
                <table class="table table-bordered bg-white text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="row">Data Empréstimo</th>
                            <th scope="row">Responsável</th>
                            <th scope="row">Data da Devolução</th>
                            <th scope="row">Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15/10/2021</td>
                            <td>Felipe de Paula</td>
                            <td>01/12/2022</td>
                            <td>Sem avarias</td>
                        </tr>
                        <tr>
                            <td>15/10/2022</td>
                            <td>Neymar Junior</td>
                            <td>15/10/2022</td>
                            <td>Pequena avaria no cabo</td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="form-group">
                <label for="anotacoesAluno">Anotações</label>
                <textarea class="form-control bg-white" id="anotacoesAluno" rows="3" disabled></textarea>
            </div> 
        </form>
    </div>
</div>







<!--Modal para adicional Instrumento-->
<div class="hidden hide-container" id="telaCadastroInstrumento">
    <div class="bg-container justify-content-center" >
        <div class="background-dark">
        </div>
        <div class="tela-add-instrumento tela-add-item border rounded shadow  p-4 bg-white">
            <form>
                <div class="text-center mb-3">
                    <span class="h5 text-info font-weight-bold">Cadastro de Instrumento</span>
                    <button  class="close btn-add-instrumento " data-element="#telaCadastroInstrumento" data-dismiss="tela-add-instrumento" aria-label="Fechar">
                        <span class="btn-add-instrumento m-3" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="nomeInstrumento">Nome do Instrumento</label>
                <input value="" type="text" class="form-control" id="nomeInstrumento" placeholder="Nome do Instrumento">
                </div>
                <div class="form-group ">
                    <label for="marcaInstrumento">Marca</label>
                    <input value="" id="marcaInstrumento" type="text" class="form-control" placeholder="marca"/>
                </div>
                <div class="form-group">
                    <label for="dataAquisicao">Data Aquisição</label>
                    <input value="" id="dataAquisicao" type="date" class="form-control ml-2 p-1 date rounded  " style="border-color: gray;"/>
                </div>   
                <div class="form-group">
                    <label for="estadoConserv">Estado de Conservação</label>
                <input value="" type="text" class="form-control" id="estadoConserv" placeholder="estado de conservação">
                </div>
                <div class="form-group ">
                    <label for="unidadeAcervo">Unidade do Instrumento</label>
                    <select class="custom-select" id="unidadeAcervo">
                        <option selected disabled>Nome da Unidade</option>
                        <option value="1">Belo Horizonte</option>
                        <option value="2">Betim</option>
                        <option value="3">Contagem</option>
                    </select>
                </div>                                   
                <div class="form-group">
                    <label for="anotacoesInstrumento">Anotações</label>
                    <textarea class="form-control bg-white" id="anotacoesInstrumento" rows="3" ></textarea>
                </div>  
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary ">Salvar</button>
                    <button type="button" class="btn btn-secondary ml-4  btn-add-instrumento" data-element="#telaCadastroInstrumento">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

 
<br>


<!--Modal para Emprestimo Instrumento-->
<div class="hidden hide-container" id="telaEmprestimoInstrumento">
    <div class="bg-container justify-content-center" >
        <div class="background-dark">
        </div>
        <div class="tela-emp-instrumento tela-add-item border rounded shadow  p-4 bg-white">
            <form>
                <div class="text-center mb-3">
                    <span class="h5 text-info font-weight-bold">Empréstimo de Instrumento</span>
                    <button  class="close btn-emp-instrumento " data-element="#telaEmprestimoInstrumento" data-dismiss="tela-emp-instrumento" aria-label="Fechar">
                        <span class="btn-emp-instrumento m-3" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="">Código:  </label>
                    <select class="custom-select codigoInstrumento" id="codigoInstrumento-s" >
                        <option value="1">vln01</option>
                        <option value="2">vlo01</option>
                        <option value="3">sxf01</option>
                    </select>
                </div>                 
                <div class="form-group">
                    <label for="nomeInstrumento">Nome do Instrumento</label>
                <input value="" type="text" class="form-control bg-white" id="nomeInstrumento" placeholder="Nome do Instrumento" disabled>
                </div>
                <div class="form-group ">
                    <label for="marcaInstrumento">Marca</label>
                    <input value="" id="marcaInstrumento" type="text" class="form-control bg-white" placeholder="marca" disabled>
                </div>
                <div class="form-group">
                    <label for="dataEmprestimo">Data Empréstimo</label>
                    <input value="" id="dataEmprestimo" type="date" class="form-control ml-2 p-1 date rounded  " style="border-color: gray;"/>
                </div>
                <div class="form-group">
                    <label for="nomeResponsavel">Nome do Responsável</label>
                <input value="" type="text" class="form-control bg-white" id="nomeResponsavel" placeholder="Nome do Responsável">
                </div>   
                <div class="form-group">
                    <label for="estadoConserv">Estado de Conservação</label>
                <input value="" type="text" class="form-control" id="estadoConserv" placeholder="estado de conservação">
                </div>                       
                <div class="form-group">
                    <label for="anotacoesInstrumento">Anotações</label>
                    <textarea class="form-control bg-white" id="anotacoesInstrumento" rows="1"></textarea>
                </div>  
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary ">Salvar</button>
                    <button type="button" class="btn btn-secondary ml-4  btn-emp-instrumento" data-element="#telaEmprestimoInstrumento">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!--Modal para Devolução Instrumento-->
<div class="hidden hide-container" id="telaDevolucaoInstrumento">
    <div class="bg-container justify-content-center" >
        <div class="background-dark">
        </div>
        <div class="tela-dev-instrumento tela-add-item border rounded shadow  p-4 bg-white">
            <form>
                <div class="text-center mb-3">
                    <span class="h5 text-info font-weight-bold">Devolução de Instrumento</span>
                    <button  class="close btn-dev-instrumento " data-element="#telaDevolucaoInstrumento" data-dismiss="tela-dev-instrumento" aria-label="Fechar">
                        <span class="btn-dev-instrumento m-3" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="codigoInstrumento-e">Código:  </label>
                    <input value="" type="text" class="form-control bg-white" id="codigoInstrumento-e" placeholder="vln01" disabled>
                </div>                 
                <div class="form-group">
                    <label for="nomeInstrumento-e">Nome do Instrumento</label>
                <input value="" type="text" class="form-control bg-white" id="nomeInstrumento-e" placeholder="Nome do Instrumento" disabled>
                </div>
                <div class="form-group ">
                    <label for="marcaInstrumento-e">Marca</label>
                    <input value="" id="marcaInstrumento-e" type="text" class="form-control bg-white" placeholder="marca" disabled>
                </div>
                <div class="form-group">
                    <label for="dataDevolucao-e">Data Devolução</label>
                    <input value="" id="dataDevolucao-e" type="date" class="form-control ml-2 p-1 date rounded  " style="border-color: gray;"/>
                </div>   
                <div class="form-group">
                    <label for="estadoConserv-e">Estado de Conservação</label>
                <input value="" type="text" class="form-control" id="estadoConserv-e" placeholder="estado de conservação">
                </div>                       
                <div class="form-group">
                    <label for="anotacoesInstrumento-e">Anotações</label>
                    <textarea class="form-control bg-white" id="anotacoesInstrumento-e" rows="1"></textarea>
                </div>  
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary ">Salvar</button>
                    <button type="button" class="btn btn-secondary ml-4  btn-dev-instrumento" data-element="#telaDevolucaoInstrumento">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!--Modal para Perfil do Usuario-->
<div class="perfil-menu float-right" id="id-perfil-menu-box">
    <div id="perfil-nomeUsuario" class="m-3">@Nome Usuario</div>
    <div class="dropdown-divider"></div>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-dark btn-dados-usuario" data-element="#telaDadosUsuario">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn-criar-usuario" data-element="#telaCriarUsuario">Criar Novo Usuário</a>
          </li>             
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Sair</a>
        </li>
      </ul>
 </div> 


 <!--Modal editar dados Usuario-->
 <div class="hidden hide-container" id="telaDadosUsuario">
    <div class="bg-container justify-content-center" >
        <div class="background-dark">
        </div>
        <div class="tela-dados-usuario tela-add-item border rounded shadow  p-4 bg-white">
            <form>
                <div class="text-center mb-3">
                    <span class="h5 text-info font-weight-bold">Perfil</span>
                    <button  class="close btn-dados-usuario " data-element="#telaDadosUsuario" data-dismiss="" aria-label="Fechar">
                        <span class="btn-dados-usuario m-3" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="nomeUsuario">Nome de Usuario</label>
                <input type="text" class="form-control" id="nomeUsuario" placeholder="usuario">
                </div>
                <div class="form-group">
                    <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" placeholder="nome completo">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" placeholder="senha">
                </div>
                <div class="form-group">
                    <label for="confirmSenha">Confirmar Senha</label>
                <input type="password" class="form-control" id="confirmSenha" placeholder="confirmar senha">
                </div>                
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="telefone">
                </div>
                <div class="form-group">
                    <label for="dataNascimento">Data Nascimento</label>
                    <input id="dataNascimento" type="date" class="form-control ml-2 p-1 date rounded  " style="border-color: gray;"/>
                </div>
                <div class="text-center  mt-5">
                    <button type="submit" class="btn btn-primary ">Salvar</button>
                    <button type="button" class="btn btn-secondary ml-4  btn-dados-usuario" data-element="#telaDadosUsuario">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Modal editar dados Usuario-->
<div class="hidden hide-container" id="telaCriarUsuario">
    <div class="bg-container justify-content-center" >
        <div class="background-dark">
        </div>
        <div class="tela-criar-usuario tela-add-item border rounded shadow  p-4 bg-white">
            <!--Cria formulario para acesso ao sistema-->
            <form class="bg-white " action="#" method="POST">
                <div class="mb-5 text-center">
                    <h3 class="text-info">Orquestra Criarte Digital</h3>
                </div>
                <div class="mb-3 text-center">
                    <h4 class="text-info">Criar Conta</h4>
                </div>
                <div class="form-group">
                    <label for="name">Nome de usuário</label>
                    <input type="text" class="form-control" id="name" placeholder="Nome" value="" required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" value=""
                        required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputEmail">Confirme seu Email</label>
                    <input type="email" class="form-control" id="ConfirmarEmail" placeholder="Email" value=""
                        required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputPassword">Senha</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Senha" value=""
                        required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputPassword">Confirme sua Senha</label>
                    <input type="password" class="form-control" id="ConfirmarPassword"
                        placeholder="Confirme sua Senha" value="" required />
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>








<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type='text/javascript' src="../static/layout-slidebar.js"></script>

<!--Plugin para caixa de pesquiza dentro do menu de selecao-->

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('.codigoInstrumento').select2();
    });
</script>
<script type='text/javascript' src="../static/main.js"></script>
<script type='module' src="../static/acervo.js"></script>

</body>
</html>