<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="bg-image background-login" style="background-image: url('https://c.pxhere.com/photos/79/26/music_violin_person_string_instrument-138718.jpg!d');height: 100vh;">
        <aside class="wrapper-aside float-right d-flex flex-column h-100 pt-5 pr-5 pl-5 pb-3" style="
        background-color: white;
          ">
          <div class="mb-auto mt-5 pt-5">
            <form class="p-4 bg-white border-bottom" action="#" method="POST" style=" 
                      opacity: 0.9;
                      ">
              <div class="mb-5 text-center">
                <h3 class="text-info">Orquestra Criarte Digital</h3>
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="" required />
              </div>
              <div class="form-group mb-2 text-dark">
                <label for="inputPassword">Senha</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="" required />
              </div>
              <div class="form-group">                
                <small class=""><a class="form-text text-secondary text-muted text-right" data-toggle="modal" href="#modal-rec-senha1">Esqueci a senha</a></small>
              </div>
              <div class="text-center mt-3">
                <!--<button class="btn btn-primary" type="button" href="layout.html">Entrar</button>-->
                <a class="btn btn-primary text-white" type="submit" href="dashboard.html">Entrar</a>
              </div>
            </form>
          </div>
          <div class="container text-center" style="max-width: 300px;">
            <span class="text-muted">Desenvolvido por alunos do curso de S.I. da PUC Minas Virtual.</span>
          </div>
        </aside>
      </div>
    </div>


     <!--Modal para recuperacao de senha-->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-rec-senha1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"> 
          <div class="modal-header text-center text-info"> 
            <h4>Recuperar Senha</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>       
            <form class="border p-5  shadow bg-white rounded" action="#" method="POST" autocomplete="off"> 
              <div class="mb-3 text-center">
                  <p>Digite seu endereço de e-mail. Você receberá um link por e-mail para
                      criar uma nova senha.</p>
              </div>
              <div class="form-group">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" id="name" placeholder="Email" value=""
                      required />
              </div>
              <div class="text-center mt-3">
                  <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
          </form>
      </div>
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
