




/* Deine estilo modal perfil usuario */
.perfil-menu {   
    position: absolute;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 900;
    top: -33px;
    right: 10px;
    border-radius: 5px;
    width: 200px;
    display: none;
   }
.perfil-menu li:hover {
    background-color: var(--white-color); 
}


/*define area de wrapper da pagina onde ficarao contidos as elementos principais do sistema*/
.wrapper-tab {
    margin-top: calc(var(--header-height) + 50px);       
}


/*Define tela para cadastro comum a todos*/
.tela-add-item{
    margin: auto;
    z-index: 1100;
}

/*Define tela para cadastro de Escola*/
.tela-add-escola{
    max-width: 600px;
    position: relative;
}



/*Define tela para cadastro de Curso*/
.tela-add-curso{
    width: 600px;
    position: relative;
}


.tela-dados-usuario {
    width: 600px;
    position: relative; 
}




/*Define efeito em Nome da Escola na tabela Escolas*/
.open-info-escola-btn  {
    border: none;
    outline: none;
    background-color: white;
    color: #17A2B8;
}
.open-info-escola-btn:hover  {
    outline: none;
    border-color: #17A2B8;
    background-color: #17A2B8;
    color: #ffffff;
}
.open-info-escola-btn:focus  {
    outline: none;
    border-color: #17A2B8;
    box-shadow: 0px 0px 2px 2px #65c1cf;
    
}



/*Define tamnho da imagem no card da tabela Cursos*/
.card-img-edit {
   height: 190.5px;
   width: auto; 
}




