<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivo Bootstrap versao 4.1-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Arquivo para icones Boxicons ultima versao-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Arquivo para icones FontAwesome ultima versao-->
    <link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/solid.css" rel="stylesheet">
    <!--Arquivo css local para configuracoes slidebar responsivo-->
    <link rel="stylesheet" href="../static/layout-slidebar.css" />
    <title>Orquestra Criarte Digital</title>
</head>

<body id="body-pd">
    <header class="header " id="header">
        <div class="header_toggle">
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>
        <div class="title-page ml-4 mr-auto ">
            <span class="text-secondary" style="font-size: 25px;">Acervo</span>
        </div>
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <div class="perfil-icon" data-element="#id-perfil-menu-box">
                        <i class="bx bx-user nav_icon " style="font-size: 2.2rem"></i>
                        <i class='bx bx-chevron-down nav_icon'></i>
                    </div>
        </div>
        </ul>
        </div>

    </header>
    <aside class="l-navbar" id="nav-bar">
        <nav class="nav nav-slidebar">
            <a href="#" class="nav_logo">
                <i class="bx bx-layer nav_logo-icon"></i>
                <span class="nav_logo-name">Orq. Criarte Digital</span>
            </a>
            <div class="nav_list mb-auto">
                <a href="#" class="nav_link ">
                    <i class='bx bx-tachometer nav_icon'></i>
                    <span class="nav-name">Dashboard</span>
                </a>
                <a href="#" class="nav_link ">
                    <i class='bx bxs-cog nav_icon'></i>
                    <span class="nav-name">Administração</span>
                </a>
                <a href="#" class="nav_link ">
                    <i class='bx bxs-user-detail nav_icon'></i>
                    <span class="nav-name">Alunos</span>
                </a>
                <a href="#" class="nav_link ">
                    <i class='fa fa-th nav_icon'></i>
                    <span class="nav-name">Acervo</span>
                </a>
                <a href="#" class="nav_link ">
                    <i class='bx bx-dollar-circle nav_icon'></i>
                    <span class="nav-name">Financeiro</span>
                </a>
                <a href="#" class="nav_link ">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav-name">Relatórios</span>
                </a>
            </div>
            <div class="text-center" id="id-system-version"
                style="color: #ebebeb; display: none; position: absolute; bottom: 10px;">
                <small class="d-block">Desenvolvido por alunos do curso de S.I. da PUC Minas Virtual</small>
                <small>Versão 1.1</small>
            </div>
        </nav>
    </aside>

    <!--Conteudo Principal de Cada Pagina-->
    <div class="main">
        <div class="border shadow rounded table-responsive" style="margin-top: 100px;">
            <div class="row mt-auto mr-auto ml-auto">
                <div class="ml-1 mt-3">
                    <span class="text-primary" style="font-size: 20px;">Adicionar instrumento</span>
                </div>
                <a class="btn-add-instrumento mt-2 mr-0" id="addInstrumentoBtn" href="#"
                    data-element="#telaCadastroInstrumento"><i class="fa fa-2x fa-plus-circle text-primary m-2"
                        aria-hidden="true"></i></a>
                <div class="dropdown mt-2">
                    <button class="btn btn-primary dropdown-toggle mt-1" type="button" id="dropdownInstrumentos"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Instrumento
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Todos</a>
                        <a class="dropdown-item" href="#">Flauta doce</a>
                        <a class="dropdown-item" href="#">violino</a>
                        <a class="dropdown-item" href="#">violoncello</a>
                    </div>
                </div>



            </div>

            <table class="table table-striped mt-3 text-center">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Instrumento</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Data de aquisição</th>
                        <th scope="col">Emprestimo</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">001</th>
                        <td>violoncello</td>
                        <td>Serenata</td>
                        <td>10/08/2014</td>
                        <td>Sim</td>
                        <td>
                            <a class="btn-edit-instrumento" id="editInstrumentoBtn" href="#"
                                data-element="#telaEditarInstrumento"><i class='bx bx-edit text-info'
                                    style="font-size: 1.75rem"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">002</th>
                        <td>violino</td>
                        <td>Serenata</td>
                        <td>20/10/2016</td>
                        <td>Sim</td>
                        <td>
                            <a class="btn-edit-instrumento" id="editInstrumentoBtn" href="#"
                                data-element="#telaEditarInstrumento"><i class='bx bx-edit text-info'
                                    style="font-size: 1.75rem"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">003</th>
                        <td>Flauta doce</td>
                        <td>Serenata</td>
                        <td>11/08/2018</td>
                        <td>Não</td>
                        <td>
                            <a class="btn-edit-instrumento" id="editInstrumentoBtn" href="#"
                                data-element="#telaEditarInstrumento"><i class='bx bx-edit text-info'
                                    style="font-size: 1.75rem"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>

    <!--Modal para adicional instrumento-->
    <div class="tela-add-instrumento border rounded shadow p-4 bg-white" id="telaCadastroInstrumento">
        <form>
            <div class="text-center mb-3">
                <span class="h5 text-info font-weight-bold">Cadastro de Instrumento</span>
                <button class="close btn-add-instrumento" data-element="#telaCadastroInstrumento"
                    data-dismiss="tela-add-instrumento" aria-label="Fechar">
                    <span class="btn-add-instrumento m-3" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <label for="nomeInstrumento">Nome do Instrumento</label>
                <input type="text" class="form-control" id="nomeInstrumento" placeholder="Nome do instrumento">
            </div>
            <div class="form-group">
                <label for="inputID">ID</label>
                <input type="text" class="form-control" id="inputID" placeholder="Nº do ID">
            </div>
            <div class="form-group">
                <label for="inputAquisicao">Data de aquisição</label>
                <input type="date" class="form-control" id="inputAquisicao" placeholder="Data">
            </div>


            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="submit" class="btn btn-secondary ml-4  btn-add-instrumento"
                    data-element="#telaCadastroInstrumento">Cancelar</button>
            </div>
        </form>
    </div>

    <!--Modal para editar Instrumento-->
    <div class="tela-edit-instrumento border rounded shadow p-4 bg-white" id="telaEditarInstrumento">
        <form>
            <div class="text-center mb-3">
                <span class="h5 text-info font-weight-bold">Edição de Instrumento</span>
                <button class="close btn-edit-instrumento" data-element="#telaEditarInstrumento"
                    data-dismiss="tela-edit-instrumento" aria-label="Fechar">
                    <span class="btn-add-instrumento m-3" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <label for="nomeInstrumento">Nome do Instrumento</label>
                <input type="text" class="form-control" id="nomeInstrumento" placeholder="Nome do instrumento">
            </div>
            <div class="form-group">
                <label for="inputID">ID</label>
                <input type="text" class="form-control" id="inputID" placeholder="Nº do ID">
            </div>
            <div class="form-group">
                <label for="inputAquisicao">Data de aquisição</label>
                <input type="date" class="form-control" id="inputAquisicao" placeholder="Data">
            </div>


            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="submit" class="btn btn-secondary ml-4  btn-edit-instrumento"
                    data-element="#telaEditarInstrumento">Excluir</button>
            </div>
        </form>
    </div>











    <!--Modal para Perfil do Usuario-->
    <div class="perfil-menu float-right" id="id-perfil-menu-box" style="width: 200px; display: none;">
        <div class="m-3">@Nome Usuario</div>
        <div class="dropdown-divider"></div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">Sair</a>
            </li>
        </ul>
    </div>










    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type='text/javascript' src="../static/layout-slidebar.js"></script>
</body>

</html>