<!--Opção de estilo da tabel a de Escolas-->
<div class="row mt-5">
    <div class="container">
        <!--Tabela com os resumo da Escola-->
        <div class="row border-top border-bottom mb-3">
            <div class=" my-auto">
                <button type="button" class="btn btn-outline-info py-3 open-info-escola" data-element="#dataInfoEscola">Unidade de Belo Horizonte</button>                                                                      
            </div>
            <div class="col d-flex">
                <div class="container-fluid ml-0">
                    <table class="table text-center mb-0">
                        <thead class="thead-light">
                        <tr>                                                
                            <th>Equipe</th>
                            <th scope="col">Classes</th>
                            <th scope="col">Alunos</th>
                            <th scope="col">Acervo</th>                                                
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                        </tr>                                                                                         
                        </tbody>                                            
                    </table>                                                                      
                </div>
                <div class="d-flex flex-column mt-2 mb-2">
                    <a href="#" class="mb-auto btn-add-escola" data-element="#telaCadastroEscola"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                    <a href="#" class="open-info-escola" data-element="#dataInfoEscola"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a> 
                </div>
            </div>
        </div>
        <!--Tabela com os resumo da Escola-->
        <div class="row border-top border-bottom mb-3">
            <div class=" my-auto">
                <button type="button" class="btn btn-outline-info py-3 open-info-escola" data-element="#dataInfoEscola">Unidade de Belo Horizonte</button>                                                                      
            </div>
            <div class="col d-flex">
                <div class="container-fluid ml-0">
                    <table class="table text-center mb-0">
                        <thead class="thead-light">
                        <tr>                                                
                            <th scope="col">Equipe</th>
                            <th scope="col">Classes</th>
                            <th scope="col">Alunos</th>
                            <th scope="col">Acervo</th>                                                
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                        </tr>                                                                                         
                        </tbody>                                            
                    </table>                                                                      
                </div>
                <div class="d-flex flex-column mt-2 mb-2">
                    <a href="#" class="mb-auto btn-add-escola" data-element="#telaCadastroEscola"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                    <a href="#" class="open-info-escola" data-element="#dataInfoEscola"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a> 
                </div>
            </div>
        </div>
        <!--Tabela com os resumo da Escola-->
        <div class="row border-top border-bottom mb-3">
            <div class=" my-auto">
                <button type="button" class="btn btn-outline-info py-3 open-info-escola" data-element="#dataInfoEscola">Unidade de Belo Horizonte</button>                                                                      
            </div>
            <div class="col d-flex">
                <div class="container-fluid ml-0">
                    <table class="table text-center mb-0">
                        <thead class="thead-light">
                        <tr>                                                
                            <th scope="col">Equipe</th>
                            <th scope="col">Classes</th>
                            <th scope="col">Alunos</th>
                            <th scope="col">Acervo</th>                                                
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                            <td>                                                    
                                <span>10</span>                                                        
                            </td>
                        </tr>                                                                                         
                        </tbody>                                            
                    </table>                                                                      
                </div>
                <div class="d-flex flex-column mt-2 mb-2">
                    <a href="#" class="mb-auto btn-add-escola" data-element="#telaCadastroEscola"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                    <a href="#" class="open-info-escola" data-element="#dataInfoEscola"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a> 
                </div>
            </div>
        </div>                                                            
    </div>
</div> 