<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>



<div class="container bd-example">
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="id-list">
                <a class="list-group-item list-gropu-action" href="#id1">Item 1</a>
                <a class="list-group-item list-gropu-action" href="#id2">Item 2</a>
                <a class="list-group-item list-gropu-action" href="#id3">Item 3</a>
                <a class="list-group-item list-gropu-action" href="#id4">Item 4</a>
            </div>
        </div>
        <div class="col-8">
            <div data-spy="scroll" data-target="#id-list"  style="
            position: relative;
            height: 200px;
            overflow: auto;
            ">
                <h4 id="id1">Item 1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam mollitia eos dolorem repellat, rerum impedit itaque vitae aspernatur, quam officia ipsa tempore iure ea, reprehenderit consequuntur. Sint dolor aspernatur quas, reiciendis optio id vero omnis non similique corrupti ipsam explicabo quos deserunt molestiae commodi? Eius, voluptatum? Atque iusto veniam cum similique deleniti enim voluptates alias labore eveniet quam necessitatibus aspernatur illo nostrum obcaecati excepturi adipisci provident, facere debitis! Impedit sapiente labore laboriosam et ad, magni cum deserunt culpa dignissimos minus voluptatum amet ipsa necessitatibus temporibus voluptas a ut porro magnam odit. Maxime, ratione alias ipsum fugit consequuntur ullam laudantium?</p>
                
                <h4 id="id2">Item 2</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam mollitia eos dolorem repellat, rerum impedit itaque vitae aspernatur, quam officia ipsa tempore iure ea, reprehenderit consequuntur. Sint dolor aspernatur quas, reiciendis optio id vero omnis non similique corrupti ipsam explicabo quos deserunt molestiae commodi? Eius, voluptatum? Atque iusto veniam cum similique deleniti enim voluptates alias labore eveniet quam necessitatibus aspernatur illo nostrum obcaecati excepturi adipisci provident, facere debitis! Impedit sapiente labore laboriosam et ad, magni cum deserunt culpa dignissimos minus voluptatum amet ipsa necessitatibus temporibus voluptas a ut porro magnam odit. Maxime, ratione alias ipsum fugit consequuntur ullam laudantium?</p>
                
                <h4 id="id3">Item 3</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam mollitia eos dolorem repellat, rerum impedit itaque vitae aspernatur, quam officia ipsa tempore iure ea, reprehenderit consequuntur. Sint dolor aspernatur quas, reiciendis optio id vero omnis non similique corrupti ipsam explicabo quos deserunt molestiae commodi? Eius, voluptatum? Atque iusto veniam cum similique deleniti enim voluptates alias labore eveniet quam necessitatibus aspernatur illo nostrum obcaecati excepturi adipisci provident, facere debitis! Impedit sapiente labore laboriosam et ad, magni cum deserunt culpa dignissimos minus voluptatum amet ipsa necessitatibus temporibus voluptas a ut porro magnam odit. Maxime, ratione alias ipsum fugit consequuntur ullam laudantium?</p>
                
                <h4 id="id4">Item 4</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam mollitia eos dolorem repellat, rerum impedit itaque vitae aspernatur, quam officia ipsa tempore iure ea, reprehenderit consequuntur. Sint dolor aspernatur quas, reiciendis optio id vero omnis non similique corrupti ipsam explicabo quos deserunt molestiae commodi? Eius, voluptatum? Atque iusto veniam cum similique deleniti enim voluptates alias labore eveniet quam necessitatibus aspernatur illo nostrum obcaecati excepturi adipisci provident, facere debitis! Impedit sapiente labore laboriosam et ad, magni cum deserunt culpa dignissimos minus voluptatum amet ipsa necessitatibus temporibus voluptas a ut porro magnam odit. Maxime, ratione alias ipsum fugit consequuntur ullam laudantium?</p>
                
            </div>
        </div>
    </div>
</div>






<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
    Tooltip com HTML
  </button>























    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
    </script>
  </body>
</html>
