<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivo Bootstrap versao 4.1-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Arquivo para icones Boxicons ultima versao-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Arquivo para icones FontAwesome ultima versao-->
    <link href="../../../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../../../assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="../../../assets/fontawesome/css/solid.css" rel="stylesheet">
    <!--Arquivo css local para configuracoes slidebar responsivo-->
    <link rel="stylesheet" href="../static/layout-slidebar.css" />
    <link rel="stylesheet" href="../static/main.css" />
    <title>Orquestra Criarte Digital</title>
</head>
<body  id="body-pd">
<header class="header " id="header">    
        <div class="header_toggle">
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>   
        <div class="title-page ml-4 mr-auto ">
           <span class="text-secondary" style="font-size: 22px;">Administração</span>
        </div>      
        <div >
            <ul class="nav">
                <li class="nav-item">                    
                    <div class="perfil-icon text-secondary" data-element="#id-perfil-menu-box">
                        <i class="bx bx-user nav_icon " style="font-size: 2.2rem"></i>
                        <i class='bx bx-chevron-down nav_icon'></i>   
                    </div>                                    
                </div> 
            </ul> 
        </div>
        
</header>
<aside class="l-navbar" id="nav-bar">
    <nav class="nav nav-slidebar">        
            <a href="#" class="nav_logo">
                <i class="bx bx-layer nav_logo-icon"></i>
                <span class="nav_logo-name">Orq. Criarte Digital</span>
            </a>
            <div class="nav_list mb-auto">
                <a href="#" class="nav_link " >
                    <i class='bx bx-tachometer nav_icon'></i>
                    <span class="nav-name">Dashboard</span>
                </a>
                <a href="admin.html" class="nav_link " >
                    <i class='bx bxs-cog nav_icon'></i>
                    <span class="nav-name">Administração</span>
                </a>
                <a href="alunos.html" class="nav_link " >
                    <i class='bx bxs-user-detail nav_icon'></i>
                    <span class="nav-name">Alunos</span>
                </a>
                <a href="acervo.html" class="nav_link " >
                    <i class='bx bxs-playlist nav_icon' ></i>
                    <span class="nav-name">Acervo</span>
                </a> 
                <a href="#" class="nav_link " style="color: gray; pointer-events: none;">
                    <i class='bx bx-dollar-circle nav_icon'></i>
                    <span class="nav-name">Financeiro</span>
                </a>                               
            </div>
            <div class="d-flex " id="id-system-version" style="color: #ebebeb; display: none; position: absolute; bottom: 10px;">
                <small class="">Versão 1.1</small>
            </div>
    </nav>
</aside>

<!--Conteudo Principal de Cada Pagina-->
<div class="main" >
    <div class="wrapper wrapper-tab border p-4 rounded shadow bg-white">        
        <div>
            <!--NavTab para os dados das Escolas / Equipe / Alunos-->
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link nav_link_table toogle-hide text-dark active" id="nav-escolas-tab" data-toggle="tab" href="#nav-escolas" role="tab" aria-controls="nav-escolas" aria-selected="false" data-element=".hide-toggle-tab">Unidades</a>
                <a class="nav-item nav-link nav_link_table toogle-hide text-dark " id="nav-cursos-tab" data-toggle="tab" href="#nav-cursos" role="tab" aria-controls="nav-cursos" aria-selected="false">Turmas</a>
                <a class="nav-item nav-link nav_link_table toogle-hide text-dark " id="nav-equipe-tab" data-toggle="tab" href="#nav-equipe" role="tab" aria-controls="nav-equipe" aria-selected="true">Equipe</a>             
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <!--Painel referente aos dados das Unidades da Ensino-->
            <div class="tab-pane fade show active" id="nav-escolas" role="tabpanel" aria-labelledby="nav-escolas-tab">
                <div class="container-fluid">
                    <div class="row mt-1">
                        <div class="ml-auto mr-3">                                
                            <a class="btn-add-escola toogle-hide " id="addEscolaBtn" href="#" data-element="#telaCadastroEscola"><i class="fa fa-2x fa-plus-circle text-info m-2" aria-hidden="true"></i></a>                   
                        </div>
                    </div>
                    <div class="row mt-2">
                        <table class="table table-hover text-center">
                            <thead class="bg-gray">
                            <tr>                            
                                <th scope="col">Unidades</th>
                                <th scope="col">Cursos</th>
                                <th scope="col">Equipe</th>
                                <th scope="col">Alunos</th>
                                <th scope="col">Acervo</th>
                                <th scope="col">Editar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>                            
                                <td>Unidade de Belo Horizonte</td>
                                <td>5</td>
                                <td>6</td>
                                <td>40</td>
                                <td>22</td>
                                <td> 
                                    <a href="#" class="open-info-escola toogle-hide ml-auto" data-element="#dataInfoEscola"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                                </td>
                            </tr>
                            <tr>                            
                                <td>Unidade de Betim</td>
                                <td>5</td>
                                <td>6</td>
                                <td>40</td>
                                <td>22</td>
                                <td> 
                                    <a href="#" class="open-info-escola toogle-hide ml-auto" data-element="#dataInfoEscola"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                            </td>
                            </tr>  
                            <tr>                            
                                <td>Unidade de Contagem</td>
                                <td>5</td>
                                <td>6</td>
                                <td>40</td>
                                <td>22</td>
                                <td> 
                                    <a href="#" class="open-info-escola toogle-hide ml-auto" data-element="#dataInfoEscola"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                            </td>
                            </tr>                                                      
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Painel referente aos dados das Turmas da organização-->
            <div class="tab-pane fade" id="nav-cursos" role="tabpanel" aria-labelledby="nav-cursos-tab">
                <div class="container-fluid">
                    <div class="row mt-1">
                        <div class="ml-auto mr-3">                                
                            <a class="btn-add-curso toogle-hide" id="addCursoBtn" href="#" data-element="#telaCadastroCurso"><i class="fa fa-2x fa-plus-circle text-info m-2" aria-hidden="true"></i></a>                   
                        </div>
                    </div>
                    <div class="row mt-2">
                        <table class="table table-hover text-center">
                            <thead class="bg-gray">
                            <tr>                            
                                <th scope="col">Turma</th>
                                <th scope="col">Unidade</th>
                                <th scope="col">Dia da Semana</th>
                                <th scope="col">Horário</th>
                                <th scope="col">Alunos</th>
                                <th scope="col">Editar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>                            
                                <td>Violão Básico - Turma I</td>
                                <td>Belo Horizonte</td>
                                <td>Segunda</td>
                                <td>08:30</td>
                                <td>12</td>
                                <td> 
                                    <a href="#" class="open-info-turma toogle-hide ml-auto" data-element="#dataInfoTurma"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                                </td>
                            </tr>
                            <tr>                            
                                <td>Violino Básico - Turma I</td>
                                <td>Betim</td>
                                <td>Segunda</td>
                                <td>08:30</td>
                                <td>20</td>
                                <td> 
                                    <a href="#" class="open-info-turma toogle-hide ml-auto" data-element="#dataInfoTurma"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                                </td>
                            </tr>
                            <tr>                            
                                <td>Saxofone Básico - Turma I</td>
                                <td>Contagem</td>
                                <td>Segunda</td>
                                <td>08:30</td>
                                <td>13</td>
                                <td> 
                                    <a href="#" class="open-info-turma toogle-hide ml-auto" data-element="#dataInfoTurma"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                                </td>
                            </tr>                                                      
                            </tbody>
                        </table>
                        </div> 
                    <!--exibicao dos cursos em formato de Card-->
                    <!--  <div class="container-fluid wrapper-cards-cursos">
                            <div class="row d-flex justify-content-around align-items-around">
                                <div class="card mb-3" style="width: 18rem;">
                                    <img class="card-img-top card-img-edit" src="../../../assets/pictures/img-violao.jpg" alt="Imagem de capa do card">
                                    <div class="card-body text-center">
                                    <h5 class="card-title">Curso de Violão</h5>
                                    <p class="card-text">Unidade de Belo Horizonte</p>
                                    <a href="#" class="btn btn-info">Abrir</a>
                                    </div>
                                </div>
                                <div class="card mb-3" style="width: 18rem;">
                                    <img class="card-img-top card-img-edit" src="../../../assets/pictures/img-flauta.jpg" alt="Imagem de capa do card">
                                    <div class="card-body text-center">
                                    <h5 class="card-title ">Curso para Iniciante</h5>
                                    <p class="card-text">Unidade de Belo Horizonte</p>
                                    <a href="#" class="btn btn-info mb-0 pb-0">Abrir</a>
                                    </div>
                                </div>
                                <div class="card mb-3" style="width: 18rem;">
                                    <img class="card-img-top card-img-edit" src="../../../assets/pictures/img-violino.jpg" alt="Imagem de capa do card">
                                    <div class="card-body text-center mt-auto">
                                    <h5 class="card-title">Curso de Violino</h5>
                                    <p class="card-text">Unidade de Belo Horizonte</p>
                                    <a href="#" class="btn btn-info">Abrir</a>
                                    </div>
                                </div>
                                <div class="card mb-3" style="width: 18rem;">
                                    <img class="card-img-top card-img-edit" src="../../../assets/pictures/img-violino-2.jpg" alt="Imagem de capa do card">
                                    <div class="card-body text-center">
                                    <h5 class="card-title">Curso de Violino</h5>
                                    <p class="card-text">Unidade de Betim</p>
                                    <a href="#" class="btn btn-info">Abrir</a>
                                    </div>
                                </div>
                                <div class="card mb-3" style="width: 18rem;">
                                    <img class="card-img-top card-img-edit" src="../../../assets/pictures/img-violoncelo.jpg" alt="Imagem de capa do card">
                                    <div class="card-body text-center">
                                    <h5 class="card-title">Curso de Violoncelo</h5>
                                    <p class="card-text">Unidade de Contagem</p>
                                    <a href="#" class="btn btn-info">Abrir</a>
                                    </div>
                                </div>
                                <div class="card mb-3" style="width: 18rem;">
                                    <img class="card-img-top card-img-edit" src="../../../assets/pictures/img-saxofone-2.jpg" alt="Imagem de capa do card">
                                    <div class="card-body text-center">
                                    <h5 class="card-title">Curso de Saxofone</h5>
                                    <p class="card-text">Unidade de Contagem</p>
                                    <a href="#" class="btn btn-info">Abrir</a>
                                    </div>
                                </div>
                            </div>

                
                        </div>
                    </div>-->
                </div>
            </div>
            <!--Painel referente aos dados da Equipe da organização-->
            <div class="tab-pane fade" id="nav-equipe" role="tabpanel" aria-labelledby="nav-equipe-tab">
                    <div class="container-fluid">
                        <div class="row mt-1">
                            <div class="ml-auto mr-3">                                
                                <a class="btn-add-equipe toogle-hide" id="addEquipeBtn" href="#" data-element="#telaCadastroEquipe"><i class="fa fa-2x fa-plus-circle text-info m-2" aria-hidden="true"></i></a>                   
                            </div>
                        </div>
                        <div class="row mt-2">
                            <table class="table table-hover text-center">
                                <thead class="bg-gray">
                                <tr>                            
                                    <th scope="col">Nome</th>
                                    <th scope="col">Telefone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Função</th>
                                    <th scope="col">Editar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>                            
                                    <td>Antonio Ervaldo</td>
                                    <td>87 9938292</td>
                                    <td>antoniovava@hotmail.com</td>
                                    <td>Administrativo</td>                           
                                    <td> 
                                        <a href="#" class="open-info-equipe toogle-hide ml-auto" data-element="#dataInfoEquipe"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                                    </td>
                                </tr>
                                <tr>                            
                                    <td>Catariana Souza</td>
                                    <td>87 993324292</td>
                                    <td>catsouza@hotmail.com</td>
                                    <td>Instrutora</td>                           
                                    <td> 
                                        <a href="#" class="open-info-equipe toogle-hide ml-auto" data-element="#dataInfoEquipe"><i class='bx bx-file-find text-info mt-auto' style="font-size: 1.75rem"></i></a>                                 
                                    </td>
                                </tr>
                                                                                    
                                </tbody>
                            </table>
                        </div>                
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!--Tabela com os dados da escola selecionada-->
    <div class="wrapper wrapper-dados-item wrapper-dados-escola border my-5 pr-4 pl-4  rounded shadow hidden hide-toggle-tab" id="dataInfoEscola">
        <div class="container-fluid py-3 mb-2">
            <div class="row">
                <div class="col-11">
                    <div class="row justify-content-center">
                        <span class="h5 mb-1">Unidade de Belo Horizonte</span>
                    </div>
                    <div class="row justify-content-center">
                        <small><span>Endereço: Rua Xv de Novembro, 100, Centro, Belo Horizonte, 31030-100</span></small>
                    </div>
                    <div class="row justify-content-center">
                        <small>
                            <span class="mr-2">Gestor: Fulano de Tal</span>
                            <span class="mr-2">Telefone: (31) 98300-3040</span>
                            <span class="mr-2">email: fulanodetal@email.com</span>
                        </small>
                    </div>
                </div>
                <div class="col ml-auto">
                    <a href="#" class="mb-auto btn-add-escola toogle-hide ml-1" data-element="#telaCadastroEscola"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                </div>
            </div>
        </div>
        <div class="row ">
            <!--Coluna com a lista dos membros da Equipe-->
            <div class="col mr-2">
                <div class="row justify-content-center bg-gray">
                    <span>Cursos</span>                    
                </div>
                <div class="row  mb-4" >     
                    <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                         <ul class="list-group list-group-flush m-2 ">
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Violão Básico</span>           
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Saxofone Básico</span>          
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Violino Básico</span>          
                             </li>                                                        
                           </ul>
                    </div>         
                 </div>
            </div>
            <!--Coluna com a lista dos membros da Equipe-->
            <div class="col mr-2">
                <div class="row justify-content-center bg-gray">
                    <span>Equipe</span>                    
                </div>
                <div class="row  mb-4" >     
                    <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                         <ul class="list-group list-group-flush m-2 ">
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Tales Camargo</span>           
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Felipe Neto</span>          
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Altair Barbosa</span>          
                             </li>                                                        
                           </ul>
                    </div>         
                 </div>
            </div>
            <!--Coluna com a lista dos alunos-->
            <div class="col mr-2">
                <div class="row justify-content-center bg-gray">
                    <span>Alunos</span>                    
                </div>
                <div class="row  mb-4" >     
                    <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                         <ul class="list-group list-group-flush m-2 ">
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Antonio Melo</span>           
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Altair Silva</span>          
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Luana Cardoso</span>          
                             </li>                                                        
                           </ul>
                    </div>         
                 </div>
            </div>
            <!--Coluna com a lista dos items do Acervo da escola-->
            <div class="col mr-2">
                <div class="row justify-content-center bg-gray">
                    <span>Acervo</span>                    
                </div>
                <div class="row  mb-4" >     
                    <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                         <ul class="list-group list-group-flush m-2 ">
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Violão - 10</span>           
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Saxofone - 5</span>          
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Violino - 12</span>          
                             </li>                                                        
                           </ul>
                    </div>         
                 </div>
            </div>            
        </div>
    </div>

    

    <!--Tabela com os dados da turma selecionada-->
    <div class="wrapper wrapper-dados-item wrapper-dados-turma border my-5 pr-4 pl-4  rounded shadow hidden hide-toggle-tab" id="dataInfoTurma">
        <div class="container-fluid py-3 mb-2">
            <div class="row">
                <div class="col-11">
                    <div class="row justify-content-center">
                        <span class="h5 mb-1">Violão Básico - Turma I</span>
                    </div>
                    <div class="row justify-content-center">
                        <small><span>Horário: Segunda, 08:30</span></small>
                    </div>
                    <div class="row justify-content-center">
                        <small>
                            <span class="mr-2">Coordenador: Fulano de Tal</span>
                        </small>
                    </div>
                </div>
                <div class="col ml-auto">
                    <a href="#" class="mb-auto btn-add-curso toogle-hide ml-1" data-element="#telaCadastroCurso"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                </div>
            </div>
        </div>
        <div class="row ">            
            <!--Coluna com a lista dos alunos-->
            <div class="col mr-2">
                <div class="row justify-content-center bg-gray">
                    <span>Alunos</span>                    
                </div>
                <div class="row  mb-4" >     
                    <div class="container-fluid px-0" style="max-height: 500px; overflow-y: auto;">
                         <ul class="list-group list-group-flush m-2 ">
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Antonio Melo</span>           
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Altair Silva</span>          
                             </li>
                             <li class="list-group-item list-group-item-action text-center px-1">
                                <span>Luana Cardoso</span>          
                             </li>                                                        
                           </ul>
                    </div>         
                 </div>
            </div>                     
        </div>
    </div>

    <!--Tabela com os dados da Equipe selecionada-->
    <div class="wrapper wrapper-dados-item wrapper-dados-equipe border my-5 pr-4 pl-4  rounded shadow hidden hide-toggle-tab" id="dataInfoEquipe">
        <div class="container-fluid py-3 mb-2">
            <form>
                <div class="row">
                    <div class="col-11 text-center mb-3">
                        <span class="h5 text-info font-weight-bold ">Cadastro de Colaborador</span>
                    </div>
                    <div class="col ml-auto">
                        <a href="#" class="mb-auto btn-add-equipe toogle-hide ml-1" data-element="#telaCadastroEquipe"><i class='bx bx-edit text-info'  style="font-size: 1.75rem"></i></a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 mb-3">
                        <label for="nomeCurso">Nome do Colaborador</label>
                    <input value="" type="text" class="form-control bg-white" id="nomeEquipe" placeholder="Nome" disabled>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="dataNascimento">Data Nascimento</label>
                        <input value="" id="dataNascimento" type="text" class="form-control ml-2 p-1 rounded  bg-white" placeholder="dd/mm/aa"  disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="enderecoEquipe">Endereço</label>
                    <input value="" type="text" class="form-control bg-white" id="enderecoEquipe" placeholder="Rua XV de Novembro, nº 0" disabled>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                    <input value="" type="email" class="form-control bg-white" id="email" placeholder="email" disabled>
                    </div>                                   
                    <div class="form-group col-md-6">
                        <label for="telefone">Telefone</label>
                    <input value="" type="text" class="form-control bg-white" id="telefone" placeholder="telefone" disabled>
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6 text-center">
                        <label for="turmaEquipe">Turmas</label>
                        <ul class="list-group text-center">
                            <li class="list-group-item">Violino Básico I - Belo Hosizonte</li>
                            <li class="list-group-item">Violão Básico I - Betim</li>
                            <li class="list-group-item">Saxofone Básico II - Contagem</li>
                            </ul>
                    </div>
                    <div class="form-group col-md-6 text-center">
                        <label for="instrumentosEquipe">Instrumentos</label>
                        <ul class="list-group">
                            <li class="list-group-item">Violino</li>
                            <li class="list-group-item">Violão</li>
                            <li class="list-group-item">Saxofone</li>
                            <li class="list-group-item">Piano</li>
                            
                            </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>






   
    <!--Modal para adicional Escola-->
    <div class="hidden hide-container" id="telaCadastroEscola">
        <div class="bg-container justify-content-center" >
                <div class="background-dark">
                </div>
                <div class="tela-add-escola tela-add-item border rounded shadow p-4 bg-white" >
                    <form>
                        <div class="text-center mb-3">
                            <span class="h5 text-info font-weight-bold">Cadastro de Escola</span>
                            <button  class="close btn-add-escola toogle-hide " data-element="#telaCadastroEscola" data-dismiss="tela-add-escola" aria-label="Fechar">
                                <span class="btn-add-escola toogle-hide m-3" aria-hidden="true">&times;</span>
                              </button>
                        </div>
                        <div class="form-group">
                            <label for="nomeEscola">Nome da Escola</label>
                        <input value="" type="text" class="form-control" id="nomeEscola" placeholder="Nome da Escola">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Endereço</label>
                            <input value="" type="text" class="form-control" id="inputAddress" placeholder="Rua XV de Novembro, nº 0">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                            <label for="inputBairro">Bairro</label>
                            <input value="" type="text" class="form-control" id="inputBairro">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputTelefone">Cidade</label>
                                <input value="" type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-3">
                            <label for="inputCEP">CEP</label>
                            <input value="" type="text" class="form-control" id="inputCEP">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputGestor">Gestor</label>
                            <input value="" type="text" class="form-control" id="inputGestor" placeholder="Nome do Gestor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                            <label for="inputDDD">DDD</label>
                            <input value="" type="text" class="form-control" id="inputDDD">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputTelefone">Telefone</label>
                                <input value="" type="text" class="form-control" id="inputTelefone">
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input value="" type="email" class="form-control" id="inputEmail">
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="submit" class="btn btn-secondary ml-4  btn-add-escola toogle-hide" data-element="#telaCadastroEscola">Cancelar</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>


    
    <!--Modal para adicional Curso-->
    <div class="hidden hide-container" id="telaCadastroCurso">
        <div class="bg-container justify-content-center" >
            <div class="background-dark">
            </div>
            <div class="tela-add-curso tela-add-item border rounded shadow  p-4 bg-white">
                <form>
                    <div class="text-center mb-3">
                        <span class="h5 text-info font-weight-bold">Cadastro de Turma</span>
                        <button  class="close btn-add-curso " data-element="#telaCadastroCurso" data-dismiss="tela-add-curso" aria-label="Fechar">
                            <span class="btn-add-curso m-3" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="nomeCurso">Nome do Turma</label>
                    <input value="" type="text" class="form-control" id="nomeCurso" placeholder="Nome da Turma">
                    </div>
                    <div class="form-group">
                        <label for="nomeUnidade">Unidade de Ensino</label>
                        <select class="custom-select" id="nomeUnidade">
                            <option selected disabled>Nome da Unidade</option>
                            <option value="1">Belo Horizonte</option>
                            <option value="2">Betim</option>
                            <option value="3">Contagem</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="instrumentoCurso">Instrumento</label>
                        <select class="custom-select" id="instrumentoCurso">
                            <option selected disabled>Nome do Instrumento</option>
                            <option value="1">Flauta Doce</option>
                            <option value="2">Violão</option>
                            <option value="3">Violino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="diaDaSemana">Dia da Semana</label>
                        <select class="custom-select" id="diaDaSemana">
                            <option value="1">Segunda</option>
                            <option value="2">Terça</option>
                            <option value="3">Quarta</option>
                            <option value="1">Quinta</option>
                            <option value="2">Sexta</option>
                            <option value="3">Sábado</option>
                            <option value="3">Domingo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="horario">Horário: </label>
                        <input value="" class="form-control" id="horario" type="time" name="horario" value="-- : --" />                         
                    </div>
                    <div class="form-group">
                        <label for="inputCoordenador">Coordenador do Curso</label>
                        <input value="" type="text" class="form-control" id="coordenadorCurso" placeholder="Nome do Coordenador">
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary ">Salvar</button>
                        <button type="button" class="btn btn-secondary ml-4  btn-add-curso" data-element="#telaCadastroCurso">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <!--Modal para adicional Equipe-->
    <div class=" hidden hide-container " id="telaCadastroEquipe" >       
            <div class="bg-container justify-content-center">
                <div class="background-dark">
                </div>
                <div class="tela-add-equipe tela-add-item border rounded shadow  p-4 bg-white " > 
                     <form >
                            <div class="text-center mb-3">
                                <span class="h5 text-info font-weight-bold">Cadastro de Colaborador</span>
                                <button  class="close btn-add-equipe " data-element="#telaCadastroEquipe" data-dismiss="tela-add-equipe" aria-label="Fechar">
                                    <span class="btn-add-equipe m-3" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                <div class="form-group ">
                                    <label for="nomeCurso">Nome do Colaborador</label>
                                <input value="" type="text" class="form-control" id="nomeEquipe" placeholder="Nome">
                                </div>
                                <div class="form-group ">
                                    <label for="dataNascimento">Data Nascimento</label>
                                    <input value="" id="dataNascimento" type="date" class="form-control ml-2 p-1 date rounded  " style="border-color: gray;"/>
                                </div>
                                <div class="form-group">
                                    <label for="enderecoEquipe">Endereço</label>
                                    <input value="" type="text" class="form-control" id="enderecoEquipe" placeholder="Rua XV de Novembro, nº 0">
                                </div>   
                                <div class="form-group">
                                    <label for="email">Email</label>
                                <input value="" type="email" class="form-control" id="email" placeholder="email">
                                </div>                                   
                                <div class="form-group">
                                    <label for="telefone">Telefone</label>
                                <input value="" type="text" class="form-control" id="telefone" placeholder="telefone">
                                </div>
                                
                                
                                <div class="form-group mt-4">
                                    <div class="container-fluid d-flex justify-content-between">
                                        <label for="turmaEquipe">Turmas</label>
                                        <a class="btn-add-turma-equipe ml-auto" id="addTurmaEquipeBtn" href="#"><i class="fa fa-lg  fa-plus-circle text-info m-2" ></i></a> 
                                    </div>
                                    <ul class="list-group text-center equipe-list-turma">
                                        <li class="list-group-item d-flex justify-content-between">
                                            <select class="custom-select mr-2 border-0" id="diaDaSemana">
                                                <option selected>Nome da Turma</option>
                                                <option value="1">Violão Básico I - Belo Horizonte</option>
                                                <option value="2">Violino Básico I - Betim</option>
                                                <option value="3">Saxofone Básico I - Contagem</option>
                                            </select>                                   
                                            <a class="btn-del-turma-equipe my-auto" href="#"><i class="fa-solid fa-lg fa-delete-left text-muted "></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="form-group mt-4">
                                    <div class="container-fluid d-flex justify-content-between">
                                        <label for="instrumentoEquipe">Instrumentos</label>
                                        <a class="btn-add-instrumento-equipe ml-auto" id="addInstrumentoEquipeBtn" href="#"><i class="fa fa-lg  fa-plus-circle text-info m-2" ></i></a> 
                                    </div>
                                    <ul class="list-group text-center equipe-list-instr">
                                        <li class="list-group-item d-flex justify-content-between">
                                            <select class="custom-select mr-2 border-0" id="diaDaSemana">
                                                <option selected>Nome do Instrumento</option>
                                                <option value="1">Violão</option>
                                                <option value="2">Violino</option>
                                                <option value="3">Saxofone</option>
                                            </select>                                   
                                            <a class="btn-del-instrumento-equipe my-auto" href="#"><i class="fa-solid fa-lg fa-delete-left text-muted "></i></a>
                                        </li>
                                    </ul>
                                </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary ">Salvar</button>
                                <button type="button" class="btn btn-secondary ml-4  btn-add-equipe" data-element="#telaCadastroEquipe">Cancelar</button>
                            </div>
                    </form>
                </div>
            </div>
        
    </div>

    


</div>












<!--Modal para Perfil do Usuario-->
<div class="perfil-menu float-right" id="id-perfil-menu-box">
    <div id="perfil-nomeUsuario" class="m-3">@Nome Usuario</div>
    <div class="dropdown-divider"></div>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-dark btn-dados-usuario" data-element="#telaDadosUsuario">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn-criar-usuario" data-element="#telaCriarUsuario">Criar Novo Usuário</a>
          </li>             
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Sair</a>
        </li>
      </ul>
 </div> 


 <!--Modal editar dados Usuario-->
 <div class="hidden hide-container" id="telaDadosUsuario">
    <div class="bg-container justify-content-center" >
        <div class="background-dark">
        </div>
        <div class="tela-dados-usuario tela-add-item border rounded shadow  p-4 bg-white">
            <form>
                <div class="text-center mb-3">
                    <span class="h5 text-info font-weight-bold">Perfil</span>
                    <button  class="close btn-dados-usuario " data-element="#telaDadosUsuario" data-dismiss="" aria-label="Fechar">
                        <span class="btn-dados-usuario m-3" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="nomeUsuario">Nome de Usuario</label>
                <input type="text" class="form-control" id="nomeUsuario" placeholder="usuario">
                </div>
                <div class="form-group">
                    <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" placeholder="nome completo">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" placeholder="senha">
                </div>
                <div class="form-group">
                    <label for="confirmSenha">Confirmar Senha</label>
                <input type="password" class="form-control" id="confirmSenha" placeholder="confirmar senha">
                </div>                
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="telefone">
                </div>
                <div class="form-group">
                    <label for="dataNascimento">Data Nascimento</label>
                    <input id="dataNascimento" type="date" class="form-control ml-2 p-1 date rounded  " style="border-color: gray;"/>
                </div>
                <div class="text-center  mt-5">
                    <button type="submit" class="btn btn-primary ">Salvar</button>
                    <button type="button" class="btn btn-secondary ml-4  btn-dados-usuario" data-element="#telaDadosUsuario">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Modal editar dados Usuario-->
<div class="hidden hide-container" id="telaCriarUsuario">
    <div class="bg-container justify-content-center" >
        <div class="background-dark">
        </div>
        <div class="tela-criar-usuario tela-add-item border rounded shadow  p-4 bg-white">
            <!--Cria formulario para acesso ao sistema-->
            <form class="bg-white " action="#" method="POST">
                <div class="mb-5 text-center">
                    <h3 class="text-info">Orquestra Criarte Digital</h3>
                </div>
                <div class="mb-3 text-center">
                    <h4 class="text-info">Criar Conta</h4>
                </div>
                <div class="form-group">
                    <label for="name">Nome de usuário</label>
                    <input type="text" class="form-control" id="name" placeholder="Nome" value="" required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" value=""
                        required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputEmail">Confirme seu Email</label>
                    <input type="email" class="form-control" id="ConfirmarEmail" placeholder="Email" value=""
                        required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputPassword">Senha</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Senha" value=""
                        required />
                </div>
                <div class="form-group mb-2 text-dark">
                    <label for="inputPassword">Confirme sua Senha</label>
                    <input type="password" class="form-control" id="ConfirmarPassword"
                        placeholder="Confirme sua Senha" value="" required />
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>









<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type='text/javascript' src="../static/layout-slidebar.js"></script>    
<script type='text/javascript' src="../static/main.js"></script>  
</body>
</html>
